*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.clock{
    margin: auto;
    flex-direction: row;
    background-color: aqua;
    font-size: 8rem;
    display: flex;
}